<%= render 'admin/header' %>
<div class="container">
	<h2>商品一覧</h2>
	<%= link_to "+", new_admin_item_path, class: "btn" %>
	<table class="table">
		<thead>
			<th>商品ID</th>
			<th>商品名</th>
			<th>税抜価格</th>
			<th>ジャンル</th>
			<th>ステータス</th>
		</thead>
		<% @items.each do |item| %>
			<tbody>
				<td><%= item.id %></td>
				<td><%= link_to item.name, admin_item_path(item), class: "text-dark" %></td>
				<td><%= item.price.to_s(:delimited) %>円</td>
				<% genre = Genre.find(item.genre_id) %>
				<td><%= genre.name %></td>
				<td>
					<% if genre.is_active == true %>
						<p>有効</p>
					<% else %>
						<p>無効</p>
					<% end %>
				</td>
			</tbody>
		<% end %>
	</table>
</div>