<% if admin_signed_in? %>
	<header class="navbar navbar-fixed-top">
		<div class="container">
			<%= link_to "LOGO", root_path %>
			<nav>
				<ul class="nav navbar-nav">
					<li><%= link_to "商品一覧" %></li>
					<li><%= link_to "会員一覧", admin_customers_path %></li>
					<li><%= link_to "注文履歴一覧" %></li>
					<li><%= link_to "ジャンル一覧" %></li>
					<li><%= link_to "ログアウト", destroy_admin_session_path, method: :delete %></li>
				</ul>
			</nav>
		</div>
	</header>
<% end %>
