<% if admin_signed_in? %>
	<header class="navbar navbar-fixed-top">
		<div class="container">
			<%= link_to root_path do %>
				<%= image_tag "Naganologo.jpg", class: "logo" %>
			<% end %>
			<nav>
				<ul class="nav">
					<li><%= link_to "商品一覧", admin_items_path, class: "btn btn-outline-secondary mr-3vw" %></li>
					<li><%= link_to "会員一覧", admin_customers_path, class: "btn btn-outline-secondary mr-3vw" %></li>
					<li><%= link_to "注文履歴一覧",admin_orders_path, class: "btn btn-outline-secondary mr-3vw" %></li>
					<li><%= link_to "ジャンル一覧", admin_genres_path, class: "btn btn-outline-secondary mr-3vw" %></li>
					<li><%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "btn btn-outline-secondary mr-3vw" %></li>
				</ul>
			</nav>
		</div>
	</header>

<% else %>
	<header class="navbar navbar-fixed-top">
		<div class="container">
			<%= link_to admin_root_path do %>
				<%= image_tag "Naganologo.jpg", class: "logo" %>
			<% end %>
			<nav>
				<ul class= "nav">
			    	<li><%= link_to "About", about_path, class: "btn btn-outline-secondary mr-3vw" %></li>
			    	<li><%= link_to "商品一覧", items_path, class: "btn btn-outline-secondary mr-3vw" %></li>
			    	<li><%= link_to "新規登録", new_customer_registration_path, class: "btn btn-outline-secondary mr-3vw" %></li>
			    	<li><%= link_to "ログイン", new_customer_session_path, class: "btn btn-outline-secondary mr-3vw" %></li>
				</ul>
			</nav>
		</div>
	</header>

<% end %>
