<h2>新規会員登録</h2>

<%= form_with model: @customer, url: customer_registration_path, id: 'new_customer', class: 'new_customer', local: true do |f| %>

	<%= render "devise/shared/error_messages", resource: resource %>

	<div class="field">
		<%= f.label :last_name, "姓" %><br />
		<%= f.text_field :last_name, autofocus: true %>
	</div>
	<div class="field">
		<%= f.label :first_name, "名" %><br />
		<%= f.text_field :first_name %>
	</div>
	<div class="field">
		<%= f.label :last_name_kana, "セイ" %><br />
		<%= f.text_field :last_name_kana %>
	</div>
	<div class="field">
		<%= f.label :first_name_kana, "メイ" %><br />
		<%= f.text_field :first_name_kana %>
	</div>
	<div class="field">
		<%= f.label :email, "メールアドレス" %><br />
		<%= f.email_field :email %>
	</div>
	<div class="field">
		<%= f.label :address, "住所" %><br />
		<%= f.text_field :address %><br />
	</div>
	<div class="field">
		<%= f.label :password, "パスワード（6文字以上）" %><br />
		<%= f.text_field :password %><br />
	</div>
	<div class="field">
		<%= f.label :encrypted_password, "パスワード（確認用）" %><br />
		<%= f.text_field :encrypted_password %><br />
	</div>
	<%= f.submit "新規登録" %>
<% end %>