<%= render 'public/header' %>

<div class="container">
	<div class="row">
		<div class="col-md-2 card mr-5p">
			<p>ジャンル検索</p>
			<p>~~~</p>
			<p>~~~</p>
			<p>~~~</p>
			<p>~~~</p>
		</div>
		<div class="col-md-9">
			<div class="row">
			<% @items.each do |item| %>
				<%= link_to item_path(item), class: "col-md-2 card mr-5p text-dark" do %>
					<%= attachment_image_tag item, :image, class:"item-images" %>
					<%= item.name %><br>
					￥<%= item.price %>
				<% end %>
			<% end %>
			</div>
		</div>
	</div>
</div>